<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catrops.goals.goalsetter">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="GoalSetter">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VizOutcomeActivity" />
        <activity android:name=".OutcomeActivity" />
        <activity android:name=".ObstacleActivity" />
        <activity android:name=".VizObstacleActivity" />
        <activity android:name=".PlanActivity" />
        <activity android:name=".CompletionActivity" />
        <activity android:name=".NewGoalActivity" />
        <activity android:name=".SavedGoalsActivity"></activity>
    </application>

</manifest>